<h1 mat-dialog-title>SCHEDULA ESECUZIONE</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Data Inizio" [(ngModel)]="data.calendario">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field id="sub-form">
    <input type="number" digitOnly maxlength="2" placeholder="Ora" matInput [(ngModel)]="data.ore">
</mat-form-field>

<mat-form-field id="sub-form">
    <input type="number" digitOnly maxlength="2" placeholder="Min" matInput [(ngModel)]="data.minuti">
</mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Esci</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Schedula</button>
</div>
