<a class="navbar-item" routerLink="/">&lt; Torna alla lista dei caricamenti</a>

<p class="title-style">Nuovo caricamento</p>

<div class="filter-container">

    <mat-form-field>
        <mat-label>Tipologia</mat-label>
        <mat-select [(value)]="tipologiaSelected" [formControl]="ctrlTipologia" required>
            <mat-option>Nessuna selezione</mat-option>
            <mat-option *ngFor="let tipologia of tipologiaList" [value]="tipologia.nome">
                {{tipologia.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Codice" matInput [(ngModel)]="codiceSelected" [formControl]="ctrlCodice"
            (change)=checkCodice() [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="condizioneCodice">Attenzione. Codice duplicato o mancante</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Descrizione" matInput [(ngModel)]="descrizioneSelected"
            [formControl]="ctrlDescrizione" required>
    </mat-form-field>

    <input type="file" accept=".csv" (change)="pickFile($event.target.files)" [formControl]="ctrlFileChooser">

    <button mat-raised-button (click)="openAnteprima()"
        [disabled]="!tipologiaSelected || !codiceSelected || condizioneCodice || !descrizioneSelected || isInAnteprima">Anteprima</button>
    
    <button mat-button color="primary" (click)="getDemoFile()" [disabled]="!tipologiaSelected" >Scarica il modello</button>
</div>

<div class="sub-title-layer" *ngIf="isInAnteprima && !isLoading">
    <p class="title-style sub-title">Anteprima</p>
</div>

<div class="sub-title-layer" *ngIf="!isHidden">
    <p>File non conforme. Scaricare il modello per effettuare una corretta formattazione</p>
</div>

    



<div *ngIf="isInAnteprima && isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="table-container" *ngIf="isInAnteprima && !isLoading">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>
<div [hidden]="!isInAnteprima || (isInAnteprima && isLoading)">
    <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons></mat-paginator>
</div>
<!-- il paginator non può essere inserito all'interno del div della table perchè c'è un bug che impedisce il funzionamento della paginazione -->


<div class="buttons-container" *ngIf="isInAnteprima && !isLoading"> 
    <button mat-raised-button id="buttons-mystyle" (click)="reset()">Annulla caricamento</button>

    <div class="buttons-container sub-buttons">
        <button mat-raised-button id="buttons-mystyle-schedula" (click)="openCalendarDialog()">
            <mat-icon>schedule</mat-icon>Schedula esecuzione
        </button>
        <button mat-raised-button id="buttons-mystyle-esegui" (click)="carica(null)">Esegui</button>
    </div>
</div>