.title-style{
    padding: 15px;
    font-family: Arial;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.table-container{
    overflow: auto;
}

table {
    width: 100%;
}


th.mat-sort-header-sorted {
    color: black;
}

.filter-container{
    padding: 15px;
    border-radius: 4px;
    border: 2px black solid;
    margin: 15px;
    margin-left: 25px;
}

.mat-form-field{
    padding: 16px;
}

.sub-title-layer{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.title-style.sub-title{
    font-size: 20px;
    padding: 0px;
}

.buttons-container{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-container.sub-buttons{
    overflow:hidden;
}

#buttons-mystyle{
    height: 65px;
    float:right;
}

#buttons-mystyle-schedula{
    height: 65px;
    float:right;
    margin-left:15px;
}

#buttons-mystyle-esegui{
    float:right;
    margin-left:15px;
    height: 65px;
    width: 160px;
}
