
  <div class="mat-app-background basic-container">
    <!-- <app-table-caricamenti>loading</app-table-caricamenti> -->
    <!-- <app-nuovo-caricamento>loading</app-nuovo-caricamento> -->
    <!-- <app-dettagli-caricamenti>loading</app-dettagli-caricamenti> -->
  </div>

  <router-outlet></router-outlet>