<h1 mat-dialog-title>ELIMINA CARICAMENTO</h1>
<div mat-dialog-content>
<p> Sei sicuro di voler eliminare il caricamento: </p>
<p> {{data.row.tipologia}} - {{data.row.codice}} ?</p>
<br>
<p> L'azione è irreversibile</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onEscClick()">Esci</button>
  <button mat-button (click)="doAction()" cdkFocusInitial>
      <mat-icon>delete</mat-icon>
    Elimina
  </button>
</div>
