.title-style{
    padding: 15px;
    font-family: Arial;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.table-container{
    height: 600px;
    overflow: auto;
}

table {
    width: 100%;
}


th.mat-sort-header-sorted {
    color: black;
}

th.header-style {
    background: #f5f5f5;
}

tr.row-style:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
tr.row-style:not(.example-expanded-row):active {
    background: #efefef;
}
  

.filter-container{
    padding: 15px;
    border-radius: 4px;
    border: 2px black solid;
    margin: 15px;
}

.mat-form-field{
    padding: 16px;
}

.sub-title-layer{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.title-style.sub-title{
    font-size: 20px;
    padding: 0px;
}

#buttons-mystyle{
    height: 65px;
    float:right;
}