<p class="title-style">Caricamenti massivi</p>

<div class="filter-container">
  <h4>Filtra per</h4>

  <mat-form-field>
    <mat-label>Tipologia</mat-label>
    <mat-select [(value)]="tipologiaSelected">
        <mat-option>Nessuna selezione</mat-option>
      <mat-option *ngFor="let tipologia of tipologiaList" [value]="tipologia.nome">
        {{tipologia.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Operazione</mat-label>
    <mat-select [(value)]="operazioneSelected">
      <mat-option>Nessuna selezione</mat-option>
      <mat-option *ngFor="let operazione of listaOperazioni" [value]="operazione.viewValue">
        {{operazione.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Data Inizio" [formControl]="startDate"
      (dateInput)="getDateSelected('startDate', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [min]="startDate.value" [matDatepicker]="picker2" placeholder="Data Fine" 
      (dateInput)="getDateSelected('endDate', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Codice" aria-label="Number" matInput [(ngModel)]="codiceSelected">
    <button mat-button *ngIf="codiceSelected" matSuffix mat-icon-button aria-label="Clear" (click)="codiceSelected=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Descrizione" aria-label="Number" matInput [(ngModel)]="descrizioneSelected">
    <button mat-button *ngIf="descrizioneSelected" matSuffix mat-icon-button aria-label="Clear" (click)="descrizioneSelected=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button (click)="search()">
    <mat-icon>search</mat-icon>
    Cerca
  </button>
</div>

<div class="sub-title-layer">

  <p class="title-style sub-title">Elenco caricamenti</p>

  <button mat-raised-button id="buttons-mystyle" (click)="goTo()">
    <mat-icon>add_circle</mat-icon>
    Nuovo caricamento
  </button>

</div>

<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="tipologia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Tipologia </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.tipologia}}</del></div> 
        <ng-template #normale>{{element.tipologia}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="operazione">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Operazione </th>
      <td mat-cell *matCellDef="let element"> 
          <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.operazione}}</del></div> 
          <ng-template #normale>{{element.operazione}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="codice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Codice </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.codice}}</del></div> 
        <ng-template #normale>{{element.codice}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="descrizione">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Descrizione </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.descrizione}}</del></div> 
        <ng-template #normale>{{element.descrizione}}</ng-template>
      </td>
    </ng-container>


    <ng-container matColumnDef="start_exec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Inizio esecuzione </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.start_exec | date:"dd/MM/yyyy HH:mm:ss" }}</del></div> 
        <ng-template #normale>{{element.start_exec | date:"dd/MM/yyyy HH:mm:ss" }}</ng-template> 
      </td>
    </ng-container>

    <ng-container matColumnDef="end_exec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Fine esecuzione </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.end_exec | date:"dd/MM/yyyy HH:mm:ss" }}</del></div> 
        <ng-template #normale>{{element.end_exec | date:"dd/MM/yyyy HH:mm:ss" }}</ng-template> 
      </td>
    </ng-container>

    <ng-container matColumnDef="cron_exec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Esecuzione pianificata </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.cron_exec | date:"dd/MM/yyyy HH:mm:ss" }}</del></div> 
        <ng-template #normale>{{element.cron_exec | date:"dd/MM/yyyy HH:mm:ss" }}</ng-template> 
      </td>
    </ng-container>

    <ng-container matColumnDef="totale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Totale </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.totale}}</del></div> 
        <ng-template #normale>{{element.totale}} </ng-template> 
      </td>
    </ng-container>

    <ng-container matColumnDef="totale_ok">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Tot. Ok </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.totale_ok}}</del></div> 
        <ng-template #normale>{{element.totale_ok}}</ng-template> 
      </td>
    </ng-container>

    <ng-container matColumnDef="totale_ko">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Tot. Ko </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.status == 'Cancellato' && !element.codice.startsWith('CANC_'); else normale"><del>{{element.totale_ko}}</del></div> 
        <ng-template #normale>{{element.totale_ko}}</ng-template> 
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Stato </th>
      <td mat-cell *matCellDef="let element">
        <p [ngSwitch]="element.status">
          <mat-icon *ngSwitchCase="'Schedulato'">today</mat-icon>
          <mat-icon *ngSwitchCase="'In Esecuzione'">settings</mat-icon>
          <mat-icon *ngSwitchCase="'Finito'">check</mat-icon>
          <mat-icon *ngSwitchCase="'In Errore'">warning</mat-icon>
          <mat-icon *ngSwitchCase="'Cancellato'">cancel</mat-icon>
          <mat-icon *ngSwitchCase="'In Cancellazione'">cancel</mat-icon>
          {{element.status}}
        </p>

      </td>
    </ng-container>

    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-style"> Azioni </th>
      <td mat-cell *matCellDef="let element">
        <button [disabled]="element.status === 'In Esecuzione' || element.status === 'Schedulato' || 
        (element.status === 'Cancellato' && element.codice.startsWith('CANC_'))" mat-icon-button matTooltip="Dettagli" (click)="goToDettagli(element)">
          <mat-icon>visibility</mat-icon>
        </button>
       
        <button [disabled]="element.status !== 'Finito' && element.status !== 'In Errore'" mat-icon-button matTooltip="Elimina riga" (click)="openDeleteDialog(element)">
            
       <!--    <button   mat-icon-button matTooltip="Elimina riga" (click)="deleteRow(element)"> -->
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="row-style"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons></mat-paginator>
</div>