<a class="navbar-item" routerLink="/">&lt; Torna alla lista dei caricamenti</a>

<p class="title-style">Caricamento {{dataParent.codice}} - {{dataParent.tipologia}}</p>

<div class="filter-container">

    <div id="filter-container-sub">
        <p><b>Tipologia:</b> {{dataParent.tipologia}}</p>
        <p><b>Codice:</b> {{dataParent.codice}}</p>
        <p><b>Descrizione:</b> {{dataParent.descrizione}}</p>
    </div>

    <div id="filter-container-sub">
        <p><b>Inizio esecuzione:</b> {{dataParent.start_exec | date:"dd/MM/yyyy HH:mm:ss"}}</p>
        <p><b>Fine esecuzione:</b> {{dataParent.end_exec | date:"dd/MM/yyyy HH:mm:ss"}}</p>
        <p><b>Esecuzione schedulata:</b> {{dataParent.cron_exec | date:"dd/MM/yyyy HH:mm:ss"}}</p>
    </div>

    <div id="filter-container-sub">
        <p><b>Totale righe:</b> {{dataParent.totale}}</p>
        <p><b>Totale ok:</b> {{dataParent.totale_ok}}</p>
        <p><b>Totale ko:</b> {{dataParent.totale_ko}}</p>
    </div>
</div>

<div class="sub-title-layer">

    <p class="title-style sub-title">Righe elaborate</p>

    <div class="buttons-container">
        <mat-form-field class="visualizzazione-style">
            <mat-select [(value)]="visualizzazioneSelected" (selectionChange)="displayRows()">

                <mat-option *ngFor="let visualizzazione of listaVisualizzazioni" [value]="visualizzazione.value">
                    {{visualizzazione.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button [matMenuTriggerFor]="download" id="buttons-mystyle">
            <mat-icon>cloud_download</mat-icon>Scarica csv
        </button>
        <mat-menu #download="matMenu">
            <button mat-menu-item *ngFor="let type of listaDownloadType" (click)="downloadFile(type.value)">
                {{type.viewValue}}</button>
        </mat-menu>
    </div>

</div>


<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


        <ng-container matColumnDef="nriga">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RIGA </th>
            <td mat-cell *matCellDef="let element"> {{element.nriga}} </td>
        </ng-container>

        <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase}} </th>
            <td mat-cell *matCellDef="let element"> {{element.campi[column]}} </td>
        </ng-container>


        <ng-container matColumnDef="esito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESITO </th>
            <td mat-cell *matCellDef="let element"> {{element.esito}} </td>
        </ng-container>

        <ng-container matColumnDef="cod_err">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> COD. ERRORE</th>
            <td mat-cell *matCellDef="let element"> {{element.cod_err}} </td>
        </ng-container>

        <ng-container matColumnDef="desc_err">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DESC. ERRORE </th>
            <td mat-cell *matCellDef="let element"> {{element.desc_err}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons></mat-paginator>
</div>